

<%= form_with(model: @user_course, local: true) do |f|%>
  <div class="form-group">
    <%= f.label :topic_id, class: "form-label" %>
    <%= f.text_field :topic_id, class:  "form-control", placeholder: "Enter title", :disabled => true %>
  </div>
  <div class="form-group">
    <%= f.label :course_id, class: "form-label" %>
    <%= f.text_field :course_id, class:  "form-control", placeholder: "Enter title", :disabled => true %>
  </div>
  <div class="form-group">
    <%= f.label :finished, class: "form-label" %>
    <%= f.check_box :finished, class:  "form-control", placeholder: "Enter title"%>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-outline-primary btn-lg"%>
  </div>
<% end %>