<div class="container-fluid">
  <h1 class="mt-4"><%= @user.name %></h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Overall Performance</li>
  </ol>

  <div class="row justify-content-center mt-2">
      <div class="col text-center">
        <span>Test title</span>
        <%= pie_chart chart_users_topic1_path, download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
      <div class="col">
        <%= pie_chart chart_users_topic2_path, download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
      <div class="col">
        <%= pie_chart chart_users_topic3_path, download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
  </div>
  <div class="row justify-content-center mt-2">
      <div class="col">
        <%= pie_chart chart_users_topic4_path, download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
      <div class="col">
        <%= pie_chart chart_users_topic5_path, download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
      <div class="col">
        <%= pie_chart chart_users_topic6_path, download: true, donut: true, width: "200px", height: "150px", suffix: "%" %>
      </div>
  </div>


  <br><br><br>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Individual Performance</li>
  </ol>
  <div class="row">
  <span>work in progress</span>
  </div>
</div>