<div class="container-fluid">
  <h1 class="mt-4">All Users</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active"><%= @role.name %></li>
  </ol>

  

<ul class="nav nav-tabs">
  <% Role.all.each do |r|%>
    <li class="nav-item">
        <%  if r == @role %>
          <%= link_to r.name, admin_users_path(:role_id => r.id), :class => 'nav-link active' %>
        <% else %>
          <%= link_to r.name, admin_users_path(:role_id => r.id), :class => 'nav-link' %>
        <% end %>
    </li>
    <% @count = 1 %>
  <% end %>
</ul>


  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      
        <tr>
          <td><%= truncate(u.name, length: 30) %></td>
          <td><%= u.email %></td>
          <td><%= u.role.name%></td>
          <td><%= link_to 'edit', edit_admin_user_path(u) %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>


<%== pagy_bootstrap_nav(@pagy) %>

</div>