<!DOCTYPE html>
<html>
  <head>
    <title>IgniteTracker2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="sb-nav-fixed">
    <%= render 'layouts/navbar' %>
    <% if user_signed_in? %>
      <div id="layoutSidenav">
      <!--    side Navbar  -->
          <%= render 'layouts/sidebar' %>
        <!--    content  -->
        <div id="layoutSidenav_content">
          <main>
            <div class="container-fluid">
              <%= render 'layouts/messages'%>
              <%= yield %>
            </div>
          </main>
        </div>
      <!--    end content  -->
      </div>
    <% else %>
      <main>
        <div class="container-fluid" style='height: 100vh; background-image: url("https://media.datacenterdynamics.com/media/images/GettyImages-915675124.original.jpg");;background-position: center;background-repeat: no-repeat;background-size: cover;'>
        </div>
      </main>
    <% end %>
    
    
    <!--    end content  -->
    <%= render 'layouts/footer' %>
    
    <%= javascript_pack_tag 'global' %>
  </body>
</html>
